#main {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
}

#tribute-info {
    text-align: left;
}

li {
    padding-top: 1em;
    line-height: 2;
}

img {
    max-width: 100%;
    display: block;
    text-align: center;
}